<%- include("partials/header")%>

    <h1>Home</h1>
    <div>
        <%if (posts.length>0){ %>
            <% posts.forEach(post=> { %>
                <h1>
                    <%= post.title %>
                </h1>
                <h6 class="text-muted">
                    <%=post.timestemp%>
                </h6>
                <p class="text-truncate">
                    <%= post.body.substring(0,100)%>
                </p>
                <a href="/post/<%=post.slug.replace(/\s/g, '-')%>">read more</a>
                <hr>
                <% }) %>
                    <%}else{%>
                        <h2>No posts</h2>
                        <p><a href="/compose">New post</a></p>
                        <%}%>


    </div>




    <footer class="footer-padding d-flex justify-content-end  fixed-bottom">
        <a href="/compose">
            <div class="btn btn-success my-2 mx-2 btn-circle" type="submit">New post</div>
        </a>
    </footer>






    <%- include("partials/footer")%>